:root {
    --bg-secondary: #7532fb;
    --bg-primary: #f0f0f0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color: var(--bg-secondary);
    box-shadow: 0 0 20px 5px;
    z-index: 10;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 100%;
        width: 80%;
        padding: 1rem;
    
        ul {
            list-style: none;
            display: flex;
            justify-content: end;

            .account-buttons {
                display: flex;
            }
    
            li {
                margin-left: 3rem;
                font-size: 1.4rem;
                font-weight: 500;
                cursor: pointer;
                transition: 0.3s ease;
            }

            li:hover {
                color: #fff;
                font-size: 1.5em;
                border-bottom: 2px solid white;
            }
        }
    }
}

.logo-container {
    width: 70px;
    height: 70px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 0.9rem;
    width: 40%;
    height: 100%;

    input {
        color: #887f7f;
        font-size: 1.5rem;
        border: none;
        border-radius: 8px 0px 0px 8px;
        padding: 2px;
        width: 100%;
    }

    i {
        font-size: 1.7rem;
        background-color: white;
        border-radius: 0px 8px 8px 0px;
        padding-top: 5px;
        padding-right: 8px;
        cursor: pointer;
    }
}

#categoriesSelect {
    width: 140px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5rem;
    width: 100%;
    background-color: gainsboro;
}

.hero-body {
    display: flex;
    align-items: center;
    width: 80%;

    .hero-text {
        letter-spacing: 3px;
        font-size: xx-large;
        color:  var(--bg-secondary);

        p {
            font-size: 1.5rem;
            font-weight: 700;
            margin-left: 5px;
            color: #9563f8;
        }
    } 

    .hero-image-box {
        width: 50%;
        
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.hero-buttons {
    display: flex;
    gap: 2rem;
    width: 80%;
    
    button {
        color: var(--bg-primary);
        font-size: 1.3rem;
        font-weight: bolder;
        padding: 0.5rem;
        border: none;
        border-radius: 8px;
        background-color: var(--bg-secondary);
        cursor: pointer;
        transition: 0.3s ease;
    }

    button:hover {
        background-color: var(--bg-primary);
        color: var(--bg-secondary);
        font-weight: bolder;
    }
}

.categories-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-top: 3rem;

    .categories-box {
        width: max-content;
        padding: 1rem;
        background-color: #7532fb;
    }
}